/* Global Layout Set-up */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #191970;
}

/* Link Styles */

a {
    text-decoration: underline;
    color: #FCDC3B;
}

a:hover {
    color: #00EEEE;
}

/* Section Styles */

.main-nav {
    width: 100%;
    background: rgba(25, 25, 112, .8);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #FCDC3B;
    letter-spacing: 5px;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: #00EEEE;
}

.center1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #000;
    font-size: 2.5em;
    margin: 2em 0 .5em 0;
}

.center2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: #191970;
}

header {
    text-align: center;
    background: url('../img/concert02_no_text.jpg') no-repeat top center #FCDC3B ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    height: 350px;
}

.tag {
    color: black;
    padding: 10px;
    letter-spacing: 5px;
}

.name{
    font-weight: 300;
}

header .name{
    font-size: 3em;
}
.tagline {
    font-weight: 600;
    padding: 20px;
    text-transform: uppercase;
    color: #FCDC3B;
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    text-align: left;
    border-top: 4px solid #FCDC3B;
    clear: both;
}

.card:hover {
    border-color: #fff;
}


.photo{
    display: block;
    width: 200px;
    height: 0%;
    margin: 0 auto;
}

.information{
    width: 100%;
    text-align: center;
    /*display: inline-block;
    position: absolute;*/
}

.heading{
    font-size: 2em;
    text-transform: uppercase;
    color: #FCDC3B;
    margin-top: 10px;
    text-align: center;
}

td, th {
    padding: 0 10px;
}

fieldset, legend {
    color: #FCDC3B;
    margin: 1em 0 0 0;
}

input:focus, textarea:focus {
    background: #FCDC3B;
}

.hidden {
    display:none;
}
/* Footer styles */

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}

footer .copyright {
    top: -8px;
    font-size: .75em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

a.twitter {
    background-image: url(../img/twitter-32.png);
}

a.youtube {
    background-image: url(../img/youtube-32.png);
}

a.spotify {
    background-image: url(../img/spotify-32.png);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {

    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }


    main {
        padding-top: 20px;
    }

    main p {
        line-height: 1.6em;
    }

    .card{
        margin: 40px auto;
        padding: 20px 40px 40px;
        width: 80%;
        max-width: 1000px;
    }

    .photo{
        width: 30%;
        margin: 20px 30px;
    }

    .information{
        text-align: left;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }

    .center1 {
        font-size: 5em;
        margin: 2em 0 0 0;

    }
    .center2 {
        font-size: 3em;
    }
}
